@value makerBlue, makerRed, makerWhite, makerLightBlue from '../../common/colors.css';

.button {
  /* background-color: makerBlue; */
  color: makerWhite;
  font-weight: bold;
  cursor: pointer;
  padding: 0.5em;
  flex: 1 1 50%;
  font-size: 0.8rem;
  border: none;
}

.button.delete {
  background-color: makerBlue;
}

.button.add {
  background-color: makerRed;
}

.button:hover {
  opacity: 0.8;
}
