@value makerOrange, makerLightGrey, makerBlack, makerWhite from '../../common/colors.css';

.form {
  display: flex;
  width: 100%;
  flex-wrap: wrap; /* 아이템 넓이가 넓으면 한줄에 하나씩 떨어지도록 랩 */
  border-top: 1px solid makerOrange;
  border-left: 1px solid makerOrange;
  margin-bottom: 1em;
}

.input,
.textarea,
.select,
.button,
.fileInput {
  font-size: 0.8rem;
  width: 100%;
  border: 0;
  padding: 0.5em;
  border-bottom: 1px solid makerOrange;
  border-right: 1px solid makerOrange;
  background: makerWhite;
}

.input,
.select {
  flex: 1 1 30%; /* 30%씩 1줄에 3개가 나오도록  */
}

.fileInput {
  padding: 0;
  flex: 1 1 50%;
}

.input:focus,
.textarea:focus,
.select:focus,
.button:focus {
  outline: 0;
}

.textarea {
  flex-basis: 100%; /* 1줄에 다 나오도록 */
}
