@value makerLightBlue, makerBlue from '../../common/colors.css';
@value mediaMobile, mediaQuery from '../../common/size.css';

.preview {
  position: relative;
  padding: 1.5em 2.8em;
  flex-basis: 50%;
  overflow-y: auto; /*  스크롤링 되도록 */
}

.title {
  width: 100%;
  text-align: center;
  margin-bottom: 1em;
  color: makerBlue;
  font-family: Arial, Helvetica, sans-serif;
}

.cards {
  width: 500px;
  height: 100%;
  margin: 0 auto;
  padding: 0.5em 1em;
  /* display: flex;
  flex-direction: column; */
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: mediaMobile) {
  .preview {
    padding: 1.5em 0;
  }

  .cards {
    width: 360px;
  }
}
